@{
    ViewData["Title"] = "Home - InvoiceCat";
}
<link rel="stylesheet" href="~/css/Home/IndexSite.css" />

<div class="jumbotron bg-gradient">
    <h1 class="display-4">Invoice Cat</h1>
    <hr class="my-4">
    <p class="lead">InvoiceCat is application for managing invoices, clients and payments.</p>


</div>
