@{
    ViewData["Title"] = "About";
}
@*Style for about page.*@
<link rel="stylesheet" href="~/css/AboutUs/AboutSite.css" />

<div class="jumbotron bg-title">
    <h1 class="display-2 first-title">About Us</h1>
</div>
