@{
    ViewData["Title"] = "Contact";
}
@*Style for about page.*@
<link rel="stylesheet" href="~/css/AboutUs/ContactSite.css" />

<div class="jumbotron bg-title">
    <h1 class="display-2 first-title">Contact Us</h1>
</div>

<section>
    <div class="container newsletter-container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="text-center text-black-50" style="font-weight:500;">Subscribe to our Newsletter</h2>
            </div>
        </div>
        <div class="row justify-content-lg-center form-inline">
            <div class="form-group">
                <div class="col-lg">
                    <input type="email" placeholder="Email" class="form-control" />
                    <button class="btn btn-primary btn">SUBSCRIBE</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-contact-form">
    <div class="container newsletter-container" style="color:#ffff;">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <h2 class="text-center" style="font-weight:500;">CONTACT FORM</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-2">
                <div class="form-group">
                    <label class="form-control-label">Name</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col-md-4 col-2">
                <div class="form-group">
                    <label class="form-control-label">Email</label>
                    <input type="email" class="form-control" />
                </div>
            </div>
            <div class="col-md-4 col-2">
                <div class="form-group">
                    <label class="form-control-label">Phone</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
        </div>
        <div>
            <div class="form-group">
                <label class="form-control-label">Message</label>
                <textarea type="text" rows="7" class="form-control"></textarea>
            </div>
        </div>
        <button class="btn btn-primary display-4">SEND FORM</button>
    </div>
</section>

<section>
    <div class="container find-us">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-6"></div>
        </div>
    </div>
</section>

