
@{
    ViewData["Title"] = "Panel";
}

<h1>Panel</h1>

<div class="btn-group-vertical btn-group-lg">
    <button type="button" class="btn btn-secondary">Inbox</button>
    <button type="button" class="btn btn-secondary">Client's</button>
    <button type="button" class="btn btn-secondary">Options</button>
</div>